body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

#hand {
  display: flex;
  height: 100px;
}

.board {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  width: 16 5rem;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.square:focus {
  outline: none;
}

.square-red {
  background-color: red;
  border: 1px solid black;
  display: grid;
  border-radius: 3px;
  height: 5rem;
  width: 9rem;
  margin: 2px;
}

.square-blue {
  background-color: blue;
  border: 1px solid black;
  display: grid;
  border-radius: 3px;
  height: 5rem;
  width: 9rem;
  margin: 2px;
}

.square-beige {
  background-color: beige;
  border: 1px solid black;
  display: grid;
  border-radius: 3px;
  height: 5rem;
  width: 9rem;
  margin: 2px;
}

.square-grey {
  background-color: grey;
  border: 1px solid black;
  display: grid;
  border-radius: 3px;
  height: 5rem;
  width: 9rem;
  margin: 2px;
}

.square-white {
  background-color: #c2a78a;
  border: 1px solid black;
  display: grid;
  border-radius: 3px;
  height: 5rem;
  width: 9rem;
  margin: 2px;
}

#user-info {
  background-color: beige;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-red {
  color: red;
}

.info-blue {
  color: rgb(101, 101, 168);
}

.info-labels {
  font-weight: bold;
}

#hand-bottom {
  background-color: #c2a78a;
  border-radius: 3px;
}

.flex {
  display: flex;
}

.playertile:hover {
  max-height: 120%;
}

#table {
  height: 70vh;
  width: 70vw;
  margin: 10vh auto 0;
  display: grid;
  grid-gap: 5px;
  /* grid-template-columns: 100px 300px 450px 300px 100px;
  grid-template-rows: 75px 225px 335px 225px 75px; */
  grid-template-columns: 8% 24% 36% 24% 8%;
  grid-template-rows: 8% 28% 28% 28% 6% 8%;
  background-color: grey;
}

.main {
  display: flex;
  flex-direction: row;
}

#chat {
  flex-shrink: 1;
}

.table {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 50vh;
  flex-shrink: 1;
}

#sidebar {
  background-color: #6e6057;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #c2a78a;
  border-radius: 8px;
  height: 50vh;
  width: 40vw;
}

.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #6e6057;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

.fixed button {
  background-color: #c2a78a;
}

.btn.show-on-large {
  background-color: #c2a78a;
}
.btn:active {
  background-color: #c2a78a;
}
.btn:hover {
  background-color: #c2a78a;
}

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8eh6_i-J4UzR3y_gN_F6T-G3ZOol0iEjYi2P8fcgVfjihWwyi&s);
}

.card-footer {
  width: 38vw;
  height: 18vh;
}

.card-body {
  flex-shrink: 1;
  height: 30vh;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#clue-label {
  font-size: 20px;
  background-color: #c2a78a;
  color: #fff;
}

#input-clue {
  background-color: rosybrown;
  color: #fff;
}
