body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

label {
  display: block;
  text: white;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#hand {
  display: flex;
  height: 100px;
}

.board {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  width: 16 5rem;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.square:focus {
  outline: none;
}

.square-red {
  background-color: #fe5353;
  text-align: center;
  line-height: 8;
  display: grid;
  border-radius: 3px;
  height: 8rem;
  width: 13rem;
  margin: 15px;
}

.square-blue {
  background-color: #4da6ff;
  text-align: center;
  line-height: 8;
  display: grid;
  border-radius: 3px;
  height: 8rem;
  width: 13rem;
  margin: 15px;
}

.square-beige {
  background-color: beige;
  text-align: center;
  line-height: 8;
  display: grid;
  border-radius: 3px;
  height: 8rem;
  width: 13rem;
  margin: 15px;
}

.square-grey {
  background-color: grey;
  text-align: center;
  line-height: 8;
  display: grid;
  border-radius: 3px;
  height: 8rem;
  width: 13rem;
  margin: 15px;
}

.square-white {
  background-color: #cacac9;
  text-align: center;
  line-height: 8;
  display: grid;
  border-radius: 3px;
  height: 8rem;
  width: 13rem;
  margin: 15px;
}

#square-chosen {
  border: 5px solid black;
}

#square-not-chosen {
  border: 1px solid black;
}

#user-info {
  background-color: beige;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h4 {
  text-align: center;
}

.info-red {
  color: red;
}

.info-blue {
  color: rgb(101, 101, 168);
}

.info-labels {
  font-weight: bold;
}

#hand-bottom {
  border-radius: 3px;
}

.flex {
  display: flex;
}

.playertile:hover {
  max-height: 120%;
}

#table {
  height: 70vh;
  width: 70vw;
  margin: 10vh auto 0;
  display: grid;
  grid-gap: 5px;
  /* grid-template-columns: 100px 300px 450px 300px 100px;
  grid-template-rows: 75px 225px 335px 225px 75px; */
  grid-template-columns: 8% 24% 36% 24% 8%;
  grid-template-rows: 8% 28% 28% 28% 6% 8%;
  background-color: grey;
}

.main {
  display: flex;
  flex-direction: row;
}

#chat {
  flex-shrink: 1;
}

#game {
  display: flex;
  flex-direction: row;
}

#teams {
  background-color: grey;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  justify-content: center;
}

#redteam {
  background-color: lightcoral;
  border-radius: 3px;
}

#blueteam {
  background-color: lightskyblue;
  border-radius: 3px;
}

#board-info {
  background-color: grey;
}

.table {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 50vh;
  flex-shrink: 1;
}

#sidebar {
  background-color: lightslategrey;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.room {
  color: white;
  padding-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: lightslategrey;
  border-radius: 8px;
  height: 51vh;
  width: 21vw;
  text-align: 20vw;
  word-wrap: break-word;
  margin-right: 15px;
}

.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  color: black;
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #6e6057;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

.fixed button {
  background-color: #4d4d4d;
}

.btn {
  background-color: #4d4d4d;
}

.btn.show-on-large {
  background-color: #4d4d4d;
}

.btn:active {
  background-color: #4d4d4d;
}

.btn:hover {
  background-color: #4d4d4d;
}

body {
  background-image: url('light-brown.jpg');
}

.card-footer {
  width: 20vw;
  height: 14vh;
  word-wrap: break-word;
  position: static;
}

.card-body {
  text-align: justify;
  word-wrap: break-word;
  width: 20vw;
  flex-shrink: 1;
  height: 30vh;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 30px auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
  height: 100%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#clue-label {
  font-size: 20px;
  background-color: #c2a78a;
  color: #fff;
}

#input-clue {
  background-color: rosybrown;
  color: #fff;
}

#give-clue {
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#gold {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
